QWidget {
    background-color:   rgb(211, 211, 188);
    color: white;
}

QPushButton {
    font-size: 12px;
    background-color: rgb(255, 182, 87);
}
QPushButton:focus{
    background-color: rgb(102, 81, 93);
}
QPushButton:hover{
    background-color: rgb(125, 46, 204);
}